* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    font-family: "Lucida Handwriting", cursive;
    color: black;
    background-color: bisque;
}
header {
    background-color: brown;
    color: white;
}
main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer {
    background-color: brown;
}
a {
    text-decoration: none;
    color: white;
}