select {
    width: 100%;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-family: "Lucida Handwriting", cursive;
}
option {
    font-family: "Lucida Handwriting", cursive;
}
table {
    border-spacing: 50px;
}
td {
    border: 2px solid;
    width: 50%;
    height: 50%;
    background: white;
    margin: 0.5em;
}
.num {
    font-size: 35px;
}