* {box-sizing: border-box;}
.open-button {
    padding:10px 40px;
    background-color: black;
    color: white;
    font-family: "Lucida Handwriting", cursive;
    font-size:15px;
    max-width:300px;
    border-radius:20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    left: 15px;  
  }
  
.chatbox {
    text-align: right;
    display: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
.form-container {
    max-width: 300px;
    padding: 10px;
}
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container .button {
    background-color: bisque;
    color: black;
    font-family: "Lucida Handwriting", cursive;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }